.searchBar {
    display: flex;
    width: 100%;
    padding: 10px;
}

.searchBar input {
    outline: none;
    border: none;
    height: 25px;
    padding: 0 10px;
    width: 100%;
}

.searchButton {
    line-height: 25px;
    margin-left: 10px;
    cursor: pointer;
}

.searchButton:hover {
     color: var(--font-secondary);
}
